main section .grid, section, .intro, .about, .development, .training, .gaming, .contact {
  min-height: calc(100vh - 7rem);
}

@media screen and (min-width: 68rem) {
  main section .grid, section, .intro, .about, .development, .training, .gaming, .contact {
    height: 100vh;
  }
}

body, aside nav ul, aside nav ul li a, .scrolldown, .chevrons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-section, .link-underline {
  color: #00eaff;
  background-image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-size: 0 3px;
  background-position: left bottom;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-section:hover, .link-underline:hover {
  color: #fd6384;
  background-size: 100% 3px;
}

:root {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(#080f26), to(#0a0826));
  background: linear-gradient(to right, #080f26, #0a0826);
  color: #fdfaf7;
}

h1 {
  font-size: Min(3rem, 10vw);
  margin: 0.5em 0 1em;
}

@media screen and (min-width: 48rem) {
  h1 {
    font-size: Max(3rem, 4vw);
    margin: 0.7em 0 2em;
  }
}

p,
li {
  font-size: Max(1.2rem, 1vw);
}

p {
  line-height: 2;
  margin: 0 0 1.5em;
}

.courgette,
h1 {
  font-family: "Courgette", cursive;
}

.icon {
  width: Min(2.5rem, 8vw);
  height: Min(2.5rem, 8vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon path {
  fill: #fdfaf7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.col-text img {
  display: inline;
  width: 1.1em;
  height: 1.1em;
}

.link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 0 0.2em;
  margin: 1.5em 0;
  font-size: 1.4rem;
  color: #00eaff;
}

.link-section svg {
  width: 1.3em;
  height: 1.3em;
  margin: 0 1em 0 0;
}

.link-section svg path {
  fill: currentColor;
}

.link-section span {
  font-weight: bold;
}

.link-btn {
  display: inline-block;
  margin: 3em 0;
  padding: 1em 2em;
  font-weight: bold;
  color: #00eaff;
  background: transparent;
  border: 1px solid #00eaff;
  border-radius: 0.5em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-btn:hover, .link-btn:focus {
  color: #081f30;
  background: #00eaff;
  -webkit-box-shadow: 0 0 6em rgba(0, 234, 255, 0.5), 0 0 9em rgba(0, 234, 255, 0.25);
          box-shadow: 0 0 6em rgba(0, 234, 255, 0.5), 0 0 9em rgba(0, 234, 255, 0.25);
}

.drawing {
  display: inline-block;
  max-height: 1.2em;
}

.iScrollVerticalScrollbar {
  width: 0.6rem !important;
}

.iScrollVerticalScrollbar .iScrollIndicator {
  background: rgba(253, 250, 247, 0.5) !important;
  border-radius: 0.3rem !important;
}

body::-webkit-scrollbar-track {
  background: #fdfaf7;
  border-radius: 0.35rem;
}

body::-webkit-scrollbar {
  width: 0.7rem;
  background: -webkit-gradient(linear, left top, right top, from(#080f26), to(#0a0826));
  background: linear-gradient(to right, #080f26, #0a0826);
}

body::-webkit-scrollbar-thumb {
  border: 0.5rem solid #fd6384;
  border-radius: 0.25rem;
  background-clip: padding-box;
}

aside nav {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #081f30;
  height: 7rem;
}

@media screen and (min-width: 68rem) {
  aside nav {
    width: 15rem;
    height: 100vh;
    right: inherit;
    padding: Min(8rem, 8vh) 0;
  }
}

aside nav ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  height: 100%;
}

@media screen and (min-width: 68rem) {
  aside nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
}

aside nav ul li {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

aside nav ul li a {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0 1rem;
  font-size: Min(1rem, 3vw);
  color: #fdfaf7;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 68rem) {
  aside nav ul li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.2em;
    padding: 2em 3em;
  }
}

aside nav ul li a:hover, aside nav ul li a:focus-visible, aside nav ul li a.active {
  outline: none;
  color: #00eaff;
  border-color: #00eaff;
}

aside nav ul li a:hover .icon, aside nav ul li a:focus-visible .icon, aside nav ul li a.active .icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: none;
          filter: none;
}

aside nav ul li a:hover .icon path, aside nav ul li a:focus-visible .icon path, aside nav ul li a.active .icon path {
  fill: #00eaff;
}

.wrapper {
  width: 100%;
}

main {
  margin: 0 auto 7rem;
}

@media screen and (min-width: 68rem) {
  main {
    margin: 0 0 0 15rem;
  }
}

main section:last-child {
  margin-bottom: 7rem;
}

@media screen and (min-width: 68rem) {
  main section:last-child {
    margin: 0;
  }
}

main section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main section .grid > div {
  width: 100%;
  height: 100%;
}

main section .col-heading,
main section .col-text {
  padding: 0 Max(2rem, 2vw);
}

@media screen and (min-width: 68rem) {
  main section .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: max-content 1fr;
        grid-template-rows: -webkit-max-content 1fr;
        grid-template-rows: max-content 1fr;
  }
  main section:nth-child(odd) .grid {
        grid-template-areas: "image heading" "image text";
  }
  main section:nth-child(even) .grid {
        grid-template-areas: "heading image" "text image";
  }
  main section .col-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: heading;
  }
  main section .col-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: image;
  }
  main section .col-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text;
  }
}

section {
  width: 100%;
  border-bottom: 3px solid #00eaff;
  padding: 2rem 0;
  overflow: hidden;
}

@media screen and (min-width: 68rem) {
  section {
    border: none;
    padding: 0;
  }
}

.col-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-image img {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: contrast(1.25);
          filter: contrast(1.25);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.intro .col-image {
  display: none;
}

@media screen and (min-width: 68rem) {
  .intro .col-image {
    display: block;
  }
}

.intro .col-heading h1,
.intro .col-text .text {
  opacity: 0;
}

.intro .col-heading,
.intro .col-text {
  text-align: center;
}

@media screen and (min-width: 68rem) {
  .intro .col-heading,
  .intro .col-text {
    text-align: left;
  }
}

.intro .col-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .col-text h2 {
  font-size: Min(2rem, 6vw);
}

@media screen and (min-width: 48rem) {
  .intro .col-text h2 {
    font-size: Max(2rem, 2.5vw);
  }
}

.intro .col-text h2:last-child {
  margin-bottom: 2rem;
}

@media screen and (max-width: 68rem) {
  .about .col-heading h1 {
    margin-top: 0;
  }
}

.about .col-image {
  background: #fdfaf7;
}

.about .col-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 100rem) {
  .about .col-image img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.about .col-text {
  padding-top: 2em;
}

.about .col-text p {
  line-height: 1.4;
}

.about .col-text p span {
  font-size: 1.1em;
  font-family: "Courgette", cursive;
}

.training .col-text ul {
  list-style: none;
  counter-reset: mycounter;
}

.training .col-text ul li {
  counter-increment: mycounter;
  margin-bottom: 1em;
}

.training .col-text ul li::before {
  content: counter(mycounter);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.5em 0 0;
  color: #081f30;
  font-weight: bold;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  background: #00eaff;
}

.contact {
  padding: 0 Max(1.5em, 4vw);
}

.contact h1 {
  text-align: center;
  margin-bottom: 0;
}

.contact h1:last-of-type {
  margin: 0 0 1.5em;
  color: #00eaff;
}

.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4em;
}

.contact .contact-form label {
  position: absolute;
  top: 50%;
  left: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fdfaf7;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .contact-form input:not([type="submit"]),
.contact .contact-form textarea {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 1em;
  border-bottom: 2px solid #00eaff;
  color: #fdfaf7;
  background: transparent;
  outline: none;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.contact .contact-form input:not([type="submit"]):focus ~ label,
.contact .contact-form input:not([type="submit"]):valid ~ label,
.contact .contact-form textarea:focus ~ label,
.contact .contact-form textarea:valid ~ label {
  -webkit-transform: translateY(-3.5em);
          transform: translateY(-3.5em);
}

.contact .contact-form input:not([type="submit"]):focus,
.contact .contact-form textarea:focus {
  border-color: #fd6384;
}

.contact .contact-form textarea {
  resize: none;
  margin: 2em 0 0 0;
  min-height: 8em;
}

.contact .contact-form textarea ~ label {
  top: 4em;
}

.contact .contact-form .input-box {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 35rem) {
  .contact .contact-form .input-box {
    -ms-flex-preferred-size: calc(50% - 2em);
        flex-basis: calc(50% - 2em);
  }
}

.contact .contact-form .input-box.full {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contact .contact-form .link-btn {
  font-size: 1rem;
  margin-top: 0;
}

.wavy-hand {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: waving 2.5s ease-in-out infinite;
          animation: waving 2.5s ease-in-out infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  display: inline-block;
}

@-webkit-keyframes waving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes waving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.scrolldown {
  position: relative;
  width: 1.875rem;
  height: 3.125rem;
  margin: 0 auto 4.6875rem;
  border: 0.1875rem solid #00eaff;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 1.875rem;
  left: 50%;
  width: 0.375rem;
  height: 0.375rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #00eaff;
  border-radius: 100%;
  -webkit-box-shadow: 0 -5px 0.3125rem 1px #ffffff66;
          box-shadow: 0 -5px 0.3125rem 1px #ffffff66;
  -webkit-animation: scrolldown 2s infinite;
          animation: scrolldown 2s infinite;
}

@-webkit-keyframes scrolldown {
  0% {
    opacity: 0;
    height: 0.75rem;
  }
  40% {
    opacity: 1;
    height: 0.625rem;
  }
  80% {
    opacity: 0;
    -webkit-transform: translate(-50%, 1.25rem);
            transform: translate(-50%, 1.25rem);
    height: 0.625rem;
  }
  100% {
    opacity: 0;
    height: 0.75rem;
  }
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    height: 0.75rem;
  }
  40% {
    opacity: 1;
    height: 0.625rem;
  }
  80% {
    opacity: 0;
    -webkit-transform: translate(-50%, 1.25rem);
            transform: translate(-50%, 1.25rem);
    height: 0.625rem;
  }
  100% {
    opacity: 0;
    height: 0.75rem;
  }
}

.chevrons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1.875rem;
  margin-top: 5.3125rem;
}

.chevrondown {
  position: relative;
  border: solid #00eaff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  -webkit-animation: pulse 0.5s ease infinite alternate;
          animation: pulse 0.5s ease infinite alternate;
}

.chevrondown:nth-child(even) {
  -webkit-animation: pulse 0.5s ease infinite alternate 0.25s;
          animation: pulse 0.5s ease infinite alternate 0.25s;
}

@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=main.css.map */